logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!database/**/*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
config/config.local.ts
app/**/*.map
test/**/*.map
config/**/*.map

.idea

typings/app/*
typings/config/*

.umi
app/web/.temp
config/manifest.json
app/public
