doctype html
html
    head
        title uniheart | I am Alpha, I am Omega
        link(rel="canonical", href="https://uniheart.herokuapp.com")
        meta(name="author", content="叽歪")
        meta(name="description", content="uniheart | I am Alpha, I am Omega")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="twitter:card", content="uniheart")
        meta(name="twitter:title", content="uniheart")
        meta(name="twitter:description", content="uniheart | I am Alpha, I am Omega")
        meta(name="twitter:image", content="https://gitmoji.carloscuesta.me/static/gitmoji.gif")
        meta(name="twitter:creator", content="@zizhujy")
        meta(name="twitter:url", content="https://uniheart.herokuapp.com")
        meta(property="og:title", content="uniheart")
        meta(name="og:description", content="uniheart | I am Alpha, I am Omega")
        meta(property="og:image",  content="https://gitmoji.carloscuesta.me/static/gitmoji.gif")
        meta(name="og:url", content="https://uniheart.herokuapp.com")
        meta(name="rorgobots", content="index, follow")
        link(rel='apple-touch-icon', sizes='57x57', href='https://gitmoji.js.org/static/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='https://gitmoji.js.org/static/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='https://gitmoji.js.org/static/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='https://gitmoji.js.org/static/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='https://gitmoji.js.org/static/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='https://gitmoji.js.org/static/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='https://gitmoji.js.org/static/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='https://gitmoji.js.org/static/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='https://gitmoji.js.org/static/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='https://gitmoji.js.org/static/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='https://gitmoji.js.org/static/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='https://gitmoji.js.org/static/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='https://gitmoji.js.org/static/favicon-16x16.png')
        link(rel='manifest', href='https://gitmoji.js.org/static/manifest.json')
        meta(name='msapplication-TileColor', content='#FFDD67')
        meta(name='msapplication-TileImage', content='https://gitmoji.js.org/static/ms-icon-144x144.png')
        meta(name='theme-color', content='#FFDD67')
    body
        block content
